/* 表示をかっこよくするためのCSS */
#tweets {
  background-color: silver;
}
#mentions {
  background-color: silver;
}
div.tweet {
  margin: 5px;
  -webkit-box-shadow: 5px 5px 5px gray;
  -moz-box-shadow: 5px 5px 5px gray;
  box-shadow: 5px 5px 5px gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
/*  background: -moz-linear-gradient(top, #f5f5f5, #dcdcdc); */
/*  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dcdcdc));*/
  background: #e6e6fa;
  background: -moz-linear-gradient(top, #f5f5f5, #e6e6fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e6e6fa));
}
div.mention {
  background: #ffc0cb;
  background: -moz-linear-gradient(top, #ffe4e1, #ffc0cb);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe4e1), to(#ffc0cb));
}
